<mat-list>
  <div mat-subheader>{{ "my-bills" | translate }}</div>
  @if (bills.length > 0) { @for (bill of bills; track bill.id) {
  <mat-list-item class="item" (click)="openModal(bill)">
    <mat-icon matListItemIcon>folder</mat-icon>
    <div matListItemTitle>{{ bill.name }}</div>
    <div matListItemLine>
      {{ bill.date | date : "dd/MM/yyyy" }} | {{ bill.address }} |
      {{ bill.amount | currency : "EUR" }}
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  } }@else {
  <div mat-subheader class="no-bills">{{ "no-bills" | translate }}</div>
  }
</mat-list>
